html {
  font-family: 'PT SansNarrow', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  flex-basis: 11%;

  width: 100%;
  height: 10%;

  background-color: #ffe164;
  color: black;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  margin: auto;
}

footer {
  margin-top: 75px;
  margin-right: 10px;

  color: #9d9797;
  text-align: right;
}

.restaurant {
  flex-basis: 100%;

  font-size: 4em;
  font-weight: bold;

  text-align: center;
}

main {
  display: flex;
  flex-basis: 75%;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: white;
  color: black;
  font-size: 1.5em;
}
.cards {
  display: flex;
  flex-direction: column;

  border: 1px solid #eeeeee;
  border-radius: 10px;

  background: white;

  box-shadow: 0 0 20px gray;
  color: #404040;
}

#card1 {
  flex-basis: 50%;
  align-items: center;
  justify-content: space-around;

  height: 60%;

  margin-top: 5%;
}

#card2 {
  flex-basis: 40%;
  justify-content: space-around;

  width: 60%;
  height: 95%;

  margin: 4% auto auto auto;
}

#card3 {
  flex-basis: 40%;
  justify-content: center;

  height: 80%;

  margin-top: 5%;

  line-height: 30px;
}

.main_button {
  width: 90%;
  height: 40%;

  border: none;
  border-radius: 6px;

  background-color: #ffe164;
  color: #404040;

  cursor: pointer;
  font-size: 50px;
  text-align: center;
}

.main_button:hover {
  box-shadow: 0 0 5px 3px lightgrey;
}

.person_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  text-align: center;
}

.form_wrapper {
  display: flex;
  flex-basis: 30%;
  justify-content: center;

  padding-bottom: 5px;
}

.radio_wrapper {
  justify-content: center;
}

.form_radio input[type='radio'] {
  display: none;
}

.form_radio label {
  margin: 10px 0;

  border-radius: 5px;

  background-color: #ffe164;
  cursor: pointer;

  font-size: 19px;
  text-align: center;
}

.radio_wrapper label:hover {
  background-color: #bab4b4;
}

.radio_wrapper input[type='radio']:checked + label {
  background: #9d9797;
  color: black;
}

.form_list {
  font-size: 0.7em;
}

.form_list ul {
  display: flex;

  list-style-type: none;
}

.submit,
.person_list {
  width: 50%;
  height: 50px;

  margin-top: 50px;

  border: none;
  border-radius: 6px;

  background-color: #ffe164;
  color: #404040;

  cursor: pointer;

  font-size: 20px;

  font-weight: bold;
}

.submit:hover,
.person_list:hover {
  box-shadow: 0 0 5px 3px lightgrey;
}

.person_info_text {
  margin-top: 0;
  margin-bottom: 15px;

  color: #404040;

  text-align: center;
}

.person_info_button {
  display: flex;
  justify-content: center;
}

.delete_button {
  height: 50px;

  margin-top: 50px;

  border: none;
  border-radius: 6px;

  background-color: #ffe164;
  color: #404040;

  cursor: pointer;

  font-size: 20px;

  font-weight: bold;
}

.delete_button:hover {
  box-shadow: 0 0 5px 3px lightgrey;
}
