extends layout

block content
  main
    div#card3.cards
      ul
        each person in person_list
          li
            a.person_list(type="button" href=person.url)  #{person.date_formatted}, #{person.level} в #{person.time}
        else
          span Все места свободны